---



---

<html lang="en">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About me</h1>

        <p> 
            Hey There! I'm Sophie. A Programmer from the UK who has been programming for a long time!
        </p>
	</body>
</html>
